{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js.map' %}"></script>
    <script src="{% static '/js/jquery-3.7.1.js' %}"></script>
    <script src="{% static '/js/main.js' %}"></script>
</head>

<body style="padding: 30px; margin: 30px;">
    <!-- GET -->
    <h1>List of live data</h1>
    <ul id="display-data"></ul>
    <table id="data-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Id:</th>
            </tr>
        </thead>
        <tbody id="data-tbody">
        </tbody>
    </table>
    <button type="button" id="refresh">Refresh</button><h6>(Manual Refresh)</h6>

    <!-- POST -->
    <h1>Submit form</h1>
    <form id="post-form" method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        Name:<input type="text" name="name" id="name">
        Email:<input type="email" name="email" id="email">
        Bio:<input type="text" name="bio" id="bio">
        <input type="submit">
    </form>

    <h2>PUT</h2>
    <form id="putForm">
        {% csrf_token %}
        Id:<input type="number" id="putId">
        Name:<input type="text" id="putName">
        Email:<input type="email" id="putEmail">
        <input type="submit">
    </form>

    <h2>DELETE</h2>
    <form id="delForm">
        <p>Id:</p><input type="number" id="delId">
        <input type="submit">
    </form>
    <p id="notifs"></p>
    <a href="{% url 'with-fetch' %}">using fetch</a>
    <script>
        $(document).ready(function() {
            // loading landing page
            $.ajax({
                type: "GET",
                url: '{% url "getProfiles" %}',
                success: (data) => {
                    let tbodyRef = $("#data-table").find('tbody');
                    let counter = 0;
                    for (let key in data.profiles)
                        {
                            let row = document.createElement('tr');
                            row.setAttribute('id', data.profiles[key].id);
                            row.setAttribute('data-name', data.profiles[key].name);

                            let row_cell = document.createElement('td');
                            row_cell.innerText = `${data.profiles[key].id} ${data.profiles[key].name} ${data.profiles[key].email}`;
                            
                            let temp = "<tr><td>" + data.profiles[key].id + "</td><td>"+data.profiles[key].name + "</td><td>" + data.profiles[key].email + "</td></tr>";
                            let temp2 = `<tr id=${++counter} onclick='get_id'><td>${data.profiles[key].id}</td><td>${data.profiles[key].name}</td><td>${data.profiles[key].email}</td></tr>`;

                            row.appendChild(row_cell);
                            tbodyRef.append(row);
                            row.addEventListener('click', (event) => { get_id(event) });
                        }
                },
                error: (e) => {
                    alert(e);
                }
            });

            // adding items to delete field upon clicking
            // deleted

            // refresh button
            $("#refresh").click(function() {
                // clearing table
                $("#data-tbody tr").remove();
                $.ajax({
                    type: 'GET',
                    url: '{% url "getProfiles" %}',
                    success: (data) => {
                        console.log("Refreshing list...");
                        let tbodyRef = $("#data-table").find('tbody');
                        let counter = 0;
                        for (let key in data.profiles)
                        {
                            let row = document.createElement('tr');
                            row.setAttribute('id', data.profiles[key].id);
                            row.setAttribute('data-name', data.profiles[key].name);

                            let row_cell = document.createElement('td');
                            row_cell.innerText = `${data.profiles[key].id} ${data.profiles[key].name} ${data.profiles[key].email}`;
                            let temp = "<tr><td>" + data.profiles[key].id + "</td><td>"+data.profiles[key].name + "</td><td>" + data.profiles[key].email + "</td></tr>";
                            let temp2 = `<tr id=${++counter} onclick='get_id'><td>${data.profiles[key].id}</td><td>${data.profiles[key].name}</td><td>${data.profiles[key].email}</td></tr>`;

                            row.appendChild(row_cell);
                            tbodyRef.append(row);
                            row.addEventListener('click', (event) => { get_id(event) });
                        }
                        document.getElementById("post-form").reset();
                        $("#notifs").text('');
                    },
                    error: (message) => {
                        alert(message);
                    }
                });
            });

            // PUT 
            $('#putForm').submit(function (e) {
                e.preventDefault();
                let profileId = $('#putId').val();
                const profile_id = $('#putId').val();
                const formData = {
                    name: $('#putName').val(),
                    email: $('#putEmail').val(),
                };
                $.ajax({
                    url: `profile-put/${profile_id}`,
                    type: 'PUT',
                    dataType: "json",
                    data: JSON.stringify({payload: formData}),
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    success: (data) => {
                        console.log("SUCCESS");
                        console.log(data);
                        $("#refresh").trigger("click");
                        document.getElementById("putForm").reset();
                    },
                    error: (error) => {
                        console.log("FAILURE");
                        console.log(error);
                    }
                });
            });
            
            // Delete
            $('#delForm').submit(function (e) {
                e.preventDefault();
                const profile_id = $('#delId').val();
                $.ajax({
                    url: `profile-del/${profile_id}`,
                    type: 'DELETE',
                    dataType: 'json',
                    headers: {
                        "X-Requested-With": "XMLHttpRequest",
                        "X-CSRFToken": getCookie("csrftoken"),
                    },
                    success: (data) => {
                        console.log("Profile Deleted Successfully.");
                        $('#delForm').trigger('reset');
                        $("#refresh").trigger("click");
                    },
                    error: (error) => {
                        console.log("Error");
                    }
                });
            });
        });
        // form post
        $(document).on('submit', '#post-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "create" %}',
                data: {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    bio: $("#bio").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    $("#notifs").text("data submitted successfully");
                    // refreshing the list
                    $("#refresh").trigger("click");
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
        function get_id(event) {
            console.log('Get_id called.');
            try {
                console.log(event.currentTarget.id);
                document.getElementById('delId').value = event.currentTarget.id;
                document.getElementById('putId').value = event.currentTarget.id;
            } catch (e) {
                console.log(e);
            }
        }

    </script>
</body>

</html>