{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/jquery-3.7.1.js"></script>
</head>

<body>
    <h1>List of live data</h1>
    <ul id="display-data"></ul>
    <button type="button" id="refresh">Refresh</button>

    <h1>Submit form</h1>
    <form id="post-form" method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <p>Name</p><input type="text" name="name" id="name"><br>
        <p>Email</p><input type="email" name="email" id="email"><br>
        <p>Bio</p><input type="text" name="bio" id="bio"><br>
        <input type="submit">
    </form>
    <script>
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: '{% url "getProfiles" %}',
                success: (data) => {
                    for (let key in data.profiles)
                        {
                            let temp = "<li>"+data.profiles[key].name+"</li>";
                            $("#display-data").append(temp);
                        }
                },
                error: (e) => {
                    alert(e);
                }
            });
            $("#refresh").click(function() {
                $("#display-data").empty();
                $.ajax({
                    type: 'GET',
                    url: '{% url "getProfiles" %}',
                    success: (data) => {
                        console.log("Refreshing list...");
                        for (let key in data.profiles)
                        {
                            let temp = "<li>"+data.profiles[key].name+"</li>";
                            $("#display-data").append(temp);
                        }
                        console.log("Refresh complete.");
                    },
                    error: (message) => {
                        alert(message);
                    }
                })
            });
        });
        $(document).on('submit', '#post-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "create" %}',
                data: {
                    name: $("#name").val(),
                    email: $("#email").val(),
                    bio: $("#bio").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    alert(error);
                }
            });
        });
    </script>
</body>

</html>